.header {
    text-align: center;
    position: absolute;
    height: 120px;
}

.title, .version {
    color: #fff;
    margin-top: 25px;
    font-size: 25px;
    display: block;
}

.table_div {
    position: absolute;
    margin-top: 170px;
    width: 100%;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}